101 RCDATA "../../../../Assets/Fonts/Roboto-Regular.ttf"
102 RCDATA "../../../../Assets/Icons/FileTree.png"
103 RCDATA "../../../../Assets/Icons/Area.png"
104 RCDATA "../../../../Assets/Icons/Settings.png"
105 RCDATA "../../../../Assets/Icons/About.png"
106 RCDATA "../../../../Assets/Icons/Character.png"