#include "resource.h"

IDR_FONT_ROBOTO           RCDATA "../../../../Assets/Fonts/Roboto-Regular.ttf"
IDR_ICON_FILETREE         RCDATA "../../../../Assets/Icons/FileTree.png"
IDR_ICON_AREA             RCDATA "../../../../Assets/Icons/Area.png"
IDR_ICON_SETTINGS         RCDATA "../../../../Assets/Icons/Settings.png"
IDR_ICON_ABOUT            RCDATA "../../../../Assets/Icons/About.png"
IDR_ICON_CHARACTER        RCDATA "../../../../Assets/Icons/Character.png"
IDR_ICON_CONTENTBROWSER   RCDATA "../../../../Assets/Icons/ContentBrowser.png"
IDR_ICON_FOLDER           RCDATA "../../../../Assets/Icons/Folder.png"
IDR_ICON_AUDIO            RCDATA "../../../../Assets/Icons/Audio.png"
IDR_ICON_TBL              RCDATA "../../../../Assets/Icons/Tbl.png"
IDR_ADDON_BLENDER_TERRAIN RCDATA "../../../../Blender Addons/wildstar_terrain_importer.zip"

