101 RCDATA "../assets/fonts/Roboto-Regular.ttf"
102 RCDATA "../assets/icons/FileTree.png"
103 RCDATA "../assets/icons/Area.png"
104 RCDATA "../assets/icons/Settings.png"
105 RCDATA "../assets/icons/About.png"
106 RCDATA "../assets/icons/Character.png"
